nav {
  #navbar{
    overflow: hidden;
  }
  #navbar-collapse{
    width: 100%;
  }
  .navbar-toggle{
    padding-top: 20px;
  }
  overflow:hidden;
  width:100%;
  font-size:16px;
  a{
    color: transparent;
    img {
      width:250px;
      padding:20px;
      &:hover,:focus{
        opacity: 0.6;
      }
    }
  }
  ul {
    li{
      display:inline-block;
      padding-top:27px;
      padding-right:15px;
      @media(max-width:767px){
        padding-right:0px;
        padding-top:15px;
        display:block;
        text-align:right;
      }
      a{
        text-decoration: none;
        color: $grey-dark;
        opacity:0.8;
        padding:10px 10px 10px 10px;
        cursor:pointer;
        font-weight:bold;
        transition: 0.5s ease all;
        &:hover,:focus,:visited,:active{
          text-decoration: none;
          color: #fff;
          opacity:1;
          border-radius:3px;
          background-color: rgba(0,0,0,0.2);
        }
      }
    }
  }
  &.navbar-transparent{
    .icon-bar{
      background-color: white;
    }
    ul{
      li{
        a{
          color: white;
          &:hover,:focus,:visited,:active{
            background-color: rgba(255,255,255,0.3);
          }
        }
      }
    }
  }
  &.navbar-white{
    border-bottom: 1px solid $grey-medium;
    background-color:white;
    .icon-bar{
      background-color: $grey-dark;
    }
    ul{
      li{
        a{
          color: $grey-dark;
          &:hover,:focus,:visited,:active{
            background-color: rgba(0,0,0,0.2);
            color: #fff;
          }
        }
      }
    }
  }
}
