<nav class="navbar-white">
  <div id="navbar">
    <div class="">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/main">
        <img src="../img/icons/logo_napis_kolor.svg" alt="Logo" class="pull-left" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="pull-right">
        <li><a href="#/trips">Wybierz wycieczkę</a></li>
        <li><a href="#/contact">Kontakt</a></li>
        <li><a href="#/blogstories">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>
